



{% extends 'Base.html.twig' %}
{% block ListOffre %}
    <section id="reservation" class="reservation_section bg-grey">
        <div class="container padding">
            <div class="col-sm-10 col-sm-offset-1 align-left">
                <div class="reserv_form">
                    <div class="section_heading mb-40">
                        <h2>Les Offres de la semaine</h2>
                        <table >
                        <br>
                            <tr>
                                <th width="30%">offre</th><th width="30%">Date début</th><th width="30%">Date fin</th><th width="30%">Description</th>
                            </tr>
                            {% for Offre in e %}
                                <tr>
                                    <td>{{Offre.offre  }}</td>
                                    <td>{{Offre.dateDebut|date("m/d/Y")  }}</td>
                                    <td>{{Offre.dateFin|date("m/d/Y")  }}</td>
                                    <td>{{Offre.description }}</td>

                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}