{% extends "MainBundle::LayoutFront.html.twig" %}

{% block Ajouter_Etablissement %}
    <li><a href="{{ path('Ajouter_Etablissement_Client') }}">Ajouter Un Etablissement</a></li>
{% endblock %}





