{% extends "MainBundle::LayoutFront.html.twig" %}

{% block Ajouter_Etablissement %}
    <li><a style="color: #ffffff;font-size: 11px" href="{{ path('Ajouter_Etablissement_Client') }}">Ajouter Un Etablissement</a></li>
{% endblock %}





