{% trans_default_domain 'FOSUserBundle' %}


<head>
    <link href="{{ asset('bundles/main/BackEnd/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/main/BackEnd/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/main/BackEnd/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet"/>


    <style>
        .BAC {
            width: 100%;
        }
    </style>
    <style>
        .white-color {
            color: white;
            margin-left: 3px;
        }

        #ABCD {
            text-align: left;
            font-style: normal;
            padding: 10px;
            background: rgba(80, 86, 82, 0.65);
            font-size: 16px;
            font-weight: 500;
        }
        .margin-30 {
            margin: 30px;
        }
    </style>
</head>

<section id="reservation" class="reservation_section bg-grey ">
    <div class="container col-lg-offset-1 col-lg-10">
        <section class="wrapper">
            <!-- page start-->
            <div class="row margin-30">
                <aside class="profile-info col-lg-offset col-lg-12">
                    <div class="row margin-30">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <button type="button" class="btn btn-default">
                                <a href="{{ path('fos_user_profile_show') }}" class="" >
                                    <i class="fa fa-user"></i> Page
                                </a>
                            </button>
                            <button class="btn btn-default"><a href="#" class="" >
                                    <i class="fa fa-thumb-tack"></i>Visités </a>
                            </button>
                            <button class="btn btn-default active"><a href="#" class="">
                                    <i class="fa fa-thumb-tack"></i> Wishlist </a>
                            </button>
                            <button class="btn btn-default"><a href="#" class="">
                                    <i class="fa fa-thumb-tack"></i> Going Events </a>
                            </button>
                            <button class="btn btn-default">
                                <a href="#" class=""><i class="fa fa-thumb-tack"></i> Interested Events </a>
                            </button></div>
                    </div>
                    <section class="panel">
                        <div class="panel-body bio-graph-info">
                            <div class="row">
                                <div class="bio-row BAC">
                                    <p>

                                        <span><strong><i
                                                        class="fa fa-user"></i> Pseudo</strong></span>:
                                    </p>
                                </div>
                                <div class="bio-row BAC">
                                    <p><span><strong>E-Mail</strong></span>: </p>
                                </div>
                                <div class="bio-row BAC">
                                    <p><span><strong>Nom & Prénom</strong></span>: </p>
                                </div>
                                <div class="bio-row BAC">
                                    <p><span><strong>Sexe</strong></span>: </p>
                                </div>
                                <div class="bio-row BAC">
                                    <p>
                                        <span><strong>Date De Naissance</strong></span>:
                                    </p>
                                </div>
                                <div class="bio-row BAC">
                                    <p><span><strong>Ville</strong></span>: </p>
                                </div>
                                <div class="bio-row BAC">
                                    <p><span><strong>Numéro</strong></span>: </p>
                                </div>
                                <div class="bio-row BAC">
                                    <p><span><strong>Site Web/Blog</strong></span>:<a
                                                href=""></a></p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="bio-graph-heading" id="ABCD">
                        <p><span><strong>Intro : </strong></span></p>
                    </div>
                </aside>

            </div>

            <!-- page end-->
        </section>
</section>
